@import '../../styles/colors';
@import '../../styles/mixins';

.work--container {
  margin-top: 1rem;
  height: 2500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-item--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  @include card;
}

.work-item--container:nth-child(odd) .img--container {
  grid-column: 2 / 3;
}
.work-item--container:nth-child(odd) .work-item-info--container {
  grid-column: 1 / 2;
}
.work-item--container:nth-child(even) .img--container {
  grid-column: 1 / 2;
}
.work-item--container:nth-child(even) .work-item-info--container {
  grid-column: 2 / 3;
}

.img--container,
.work-item-info--container {
  grid-row: 1 / 2;
  margin: 1rem;
}

// Image Containers & Images
.img--container img {
  width: 100%;
  max-width: 900px;
  max-height: 367px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 3px 5px #000;
}

// Work Info Container
.work-item-info--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  max-width: 600px;
}

// Work Item Title
.work-item-title--container {
  padding-bottom: 1rem;
  border-bottom: 1px solid $french-gray;
}
.work-item--title {
  font-size: 1.3rem;
  font-weight: 600;
}

// Work Item Description
.work-item--description {
  text-align: justify;
  line-height: 1.5;
}

// Technologies Container
.technologies--container {
  margin-bottom: 4rem;
  display: flex;
}
.technologies--container ul {
  margin-left: 0.5rem;
}

// Links Container
.links--container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.action {
  text-decoration: none;
  background-color: $melon;
  padding: 1rem 2rem;
  border: 2px solid #000;
  box-shadow: 3px 5px 0 #000;
  color: $space-cadet;
  font-weight: 600;
  cursor: pointer;
  transition: all 250ms;
}
.action:hover {
  color: $coralpink;
  background-color: $eggshell;
}

@media (max-width: 1200px) {
  .work-item--container {
    display: flex;
    flex-direction: column;
  }

  .img--container {
    display: flex;
    justify-content: center;
  }

  .work-item-info--container {
    width: 80%;
    margin: 0 auto;
    max-width: none;
  }
}

@media (max-width: 800px) {
  .page-title--container {
    margin-left: 1rem;
  }
  
  .work--container {
    height: 4800px;
  }

  .work-item--description {
    text-align: unset;
  }
  
  .technologies--container {
    margin-bottom: 1rem;;
  }
  
  .links--container {
    position: relative;
    flex-direction: column;
    gap: 1rem;
  }
  .action {
    padding: 0.5rem 1rem;
  }
}