/* Palette 1 */
$space-cadet: rgb(45, 48, 71);
$space-cadet-hover: rgba(45, 48, 71, 0.5);
$persian-green: rgb(27, 153, 139);
$icterine: rgb(255, 253, 130);
$atomic-tangerine: rgb(255, 155, 113);
$crayola-red: rgb(232, 72, 85);
$ivory: rgb(246, 247, 235);
$ivory-hover: rgba(246, 247, 235, 0.5);

/* Palette 2 */
$space-cadet: rgb(45, 48, 71);
$yellow: rgb(255, 252, 49);
$ivory: rgb(246, 247, 235);
$cinnabar: rgb(233, 79, 55);
$coral: rgb(252, 122, 87);

/* Palette 3 */
$french-blue: rgb(28, 119, 195);
$picton-blue: rgb(57, 169, 219);
$aero: rgb(64, 188, 216);
$sunset: rgb(255, 215, 145);
$apricot: rgb(243, 202, 181);
$carrot-orange: rgb(243, 146, 55);
$persian-red: rgb(214, 50, 48);
$french-gray: rgb(205, 209, 222);

/* Palette 4 */
$melon-a: rgba(255, 166, 158, 0.1);
$melon: #FFA69E;
$coralpink: #FF8F85;
$eggshell: #FAF3DD;
$celeste: #B8F2E6;
$lightblue: #AED9E0;
$paynesgray: #5E6472;